*{
  padding: 0;
  margin: 0;
}

body{
  background-color: #F7F7F7;
}

.bluebg{
  background-color: #0378A6;
}

input{
  border: none !important;
}

/* Form styling */
.template-text-input{
  color: #707070;
  background-color: #F7F7F7 ;
  border-bottom: #707070 solid 2px !important ; 
}

.template-text-answer{
  color: #707070;
  border-bottom: #707070 dotted 2px !important ; 
}
/* #app {
  max-width: 1280px;
  max-width: 100vw;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
} */

/* a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */






/* vendor page  */
.forms .icon-box {
  text-align: center;
  border: 1px solid #ebebeb;
  padding: 80px 20px;
  transition: all ease-in-out 0.3s;
  background: #fff;
}

.forms .icon-box .icon {
  margin: 0 auto;
  width: 64px;
  height: 64px;
  background: #ffc451;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  transition: 0.3s;
}

.forms .icon-box .icon i {
  color: #151515;
  font-size: 28px;
  transition: ease-in-out 0.3s;
}

.forms .icon-box h4 {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 24px;
}

.forms .icon-box h4 a {
  color: #151515;
  transition: ease-in-out 0.3s;
}

.forms .icon-box h4 a:hover {
  color: #ffc451;
}

.forms .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.forms .icon-box:hover {
  border-color: #fff;
  box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
  transform: translateY(-10px);
}

.card-footer .col-6:first-child {
  border-right: 1px solid #d7d7d7;
  padding-right: 0;
}

.card-footer .col-6:last-child .btn-link {
  border-bottom-right-radius: 3px;
}

.card-footer .btn-link {
  background: #f6f6f6;
  width: 100%;
  padding: 10px;
  font-size: 13px;
  line-height: 20px;
  color: #505050;
  font-weight: 600;
  text-decoration: none;
}

.card-footer .btn-link:hover {
  background: #f1f1f1;
  color: #00748b;
}