// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

@import "../node_modules/bootstrap/scss/bootstrap";
@import "bootstrap/scss/bootstrap";

// Then add additional custom code here
//Putting in project colors below



//Main Blue
.bg-main-blue {
    background-color: #0378A6 !important;
  }
  
.text-main-blue {
color: #0378A6 !important;
}

.btn-main-blue {
  @include button-variant(#0378A6, #0378A6, #ffffff, #113555, #113555, #ffffff);
}

//Secondary blue
.bg-secondary-blue {
  background-color: #049DD9 !important;
}

.text-secondary-blue {
  color: #049DD9 !important;
}

.btn-secondary-blue {
  @include button-variant(#049DD9, #049DD9, #ffffff, #113555, #113555, #ffffff);
}

//Turqouis
.bg-turqouise {
  background-color: #54B5BF !important;
}

.text-turqouise {
  color: #54B5BF !important;
}

.btn-turqouise {
  @include button-variant(#54B5BF, #54B5BF, #ffffff, #113555, #113555, #ffffff);
}

//Dark Purple
.bg-dark-purple {
  background-color: #7972A6 !important;
}

.text-dark-purple {
  color: #7972A6 !important;
}

//Light Grey
.bg-light-grey {
  background-color: #F7F7F7 !important;
}

//Dark Grey
.bg-dark-grey {
  background-color: #707070 !important;
}
//end
