*{
  padding: 0;
  margin: 0;
}

body{
  background-color: #F7F7F7;
}

input{
  border: none !important;
}

/* Form styling */
.template-text-input{
  color: #707070;
  background-color: #F7F7F7 ;
  border-bottom: #707070 solid 2px !important ; 
}

.template-text-answer{
  color: #707070;
  border-bottom: #707070 dotted 2px !important ; 
}

.borderless-button{
  border: 0px;
  background-color: rgba(0,0,0,0);
}
/* #app {
  max-width: 1280px;
  max-width: 100vw;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
} */

/* a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
